<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="JobOverview.Properties.Settings.JobOverViewConnectionString"
            connectionString="Data Source=MGOLLAIN17-DE\IP08R2;Initial Catalog=JobOverview;Integrated Security=True" />
        <add name="JobOverview.Properties.Settings.JobOverViewConnectionString2"
            connectionString="Data Source=IDJOU17-DE\IP08R2;Initial Catalog=JobOverView;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>